= render 'shared/product_header'
%body
  .registration-form
    .registration-form--main-box
      %h2.new-member-registration
        新規会員登録
    .registration-form__form-box
      .registration-form__form-box--email-box
        %i.far.fa-envelope
        = link_to "メールアドレスで登録", "/users/sign_up"
      .registration-form__form-box--facebook-box
        %i.fab.fa-facebook-square
        = link_to "facebookで登録", "#"
      .registration-form__form-box--google-box
        = image_tag "google_logo.png", size: "50x50"
        = link_to "Googleで登録", "#"
= render 'shared/product_footer'