= render 'shared/header'
.myp-header
  .myp-header__container
    = link_to "フリマ", root_path
    %i.fas.fa-chevron-right
    = link_to "マイページ", user_path(1)
    %i.fas.fa-chevron-right
    %p ログアウト
.logout
  .logout__container
    = render 'shared/user_side-bar'
    .logout__main
      = link_to "ログアウト", destroy_user_session_path, method: :delete
= render 'shared/footer'
