= render 'shared/header'
.myp-head__space
.top-exhibit
  .top-exhibit__text 出品する
  = image_tag "icon_camera.png"
.myp
  .myp-side-bar
    %ul.myp-container
      %li.myp-container__box
        .myp-container__box--left マイページ
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left お知らせ
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left やることリスト
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left いいね！一覧
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 出品する
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 下書き一覧
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 出品した商品 - 出品中
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 出品した商品 - 取引中
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 出品した商品 - 売却済み
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 購入した商品 - 取引中
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 購入した商品 - 過去の取引
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left ニュース一覧
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 評価一覧
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left ガイド
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left お問い合わせ
        %i.fas.fa-chevron-right

    %h1 フリマペイ
    %ul.myp-container
      %li.myp-container__box
        .myp-container__box--left 売上・振込申請
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left ポイント
        %i.fas.fa-chevron-right

    %h1 設定
    %ul.myp-container
      %li.myp-container__box
        .myp-container__box--left プロフィール
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 発送元・お届け先住所変更
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 支払い方法
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left メール/パスワード
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 本人情報
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left 電話番号の確認
        %i.fas.fa-chevron-right
      %li.myp-container__box
        .myp-container__box--left ログアウト
        %i.fas.fa-chevron-right

  .myp-main
    .myp-main__top
      .myp-main__top__container
        = image_tag "komaki.jpg"
        %h1 小牧功知
        .myp-main__list
          %h2 評価
          %p 14
          %h2.myp-main__list__space 出品数
          %p 29
    .myp-main__title
      .myp-main__title--left お知らせ
      .myp-main__title--right やることリスト
    .myp-main__body
      = image_tag "logo-image.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達招待のお知らせ」
        %p.myp-days.far.fa-clock &nbsp;1日前
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "logo-image.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 事務局から個別メッセージ「Facebookログイン通知」
        %p.myp-days.far.fa-clock &nbsp;2日前
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "logo-image.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 事務局から個別メッセージ「Facebookログイン通知」
        %p.myp-days.far.fa-clock &nbsp;2日前
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "logo-image.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 事務局から個別メッセージ「Facebookログイン通知」
        %p.myp-days.far.fa-clock &nbsp;3日前
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "logo-image.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 《1万名にP3,000》売っても買ってもおトクな新生活応援キャンペーン実施中！
        %p.myp-days.far.fa-clock &nbsp;8日前
      %i.fas.fa-chevron-right
    .myp-main__body
      .myp-main__btn 一覧を見る

    .myp-main__top2 購入した商品
    .myp-main__title
      .myp-main__title--right 取引中
      .myp-main__title--left 過去の取引
    .myp-main__body
      = image_tag "yuuki.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 「嫌われる勇気 : 自己啓発の源流「アドラー」の教え」 を購入しました。 取引が完了しました
        %p.myp-done 取引完了
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "vision.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 「ザ・ビジョン 進むべき道は見えているか」 を購入しました。 取引が完了しました
        %p.myp-done 取引完了
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "daigo.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 「進化する勉強法 漢字学習から算数、英語、プログラミングまで」 を購入しました。 取引が完了しました
        %p.myp-done 取引完了
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "hattari.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 「ハッタリの流儀」 を購入しました。 取引が完了しました
        %p.myp-done 取引完了
      %i.fas.fa-chevron-right
    .myp-main__body
      = image_tag "sindan.jpg", class: "myp-main__body--left"
      .myp-main__body--center
        %p 「みんなが欲しかった!中小企業診断士はじめの一歩 2018年度版」 を購入しました。 取引が完了しました
        %p.myp-done 取引完了
      %i.fas.fa-chevron-right
    .myp-main__body
      .myp-main__btn 一覧を見る
= render 'shared/footer'
