= render 'shared/header'
= render 'shared/exhibit-btn'
.myp-header
  .myp-header__container
    = link_to "フリマ", root_path
    %i.fas.fa-chevron-right
    %p マイページ
.myp-body
  .myp
    = render 'shared/user_side-bar'
    

    .myp-main
      .myp-main__top
        .myp-main__top__container
          = image_tag "komaki.jpg"
          %h1
            = @user.nickname
          .myp-main__list
            %h2 評価
            %p 14
            %h2.myp-main__list__space 出品数
            %p
              = @products.length
      .myp-main__title
        .myp-main__title--left お知らせ
        .myp-main__title--right やることリスト
      .myp-main__body
        = image_tag "logo-image.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達招待のお知らせ」
          %p.myp-days.far.fa-clock &nbsp;1日前
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "logo-image.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 事務局から個別メッセージ「Facebookログイン通知」
          %p.myp-days.far.fa-clock &nbsp;2日前
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "logo-image.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 事務局から個別メッセージ「Facebookログイン通知」
          %p.myp-days.far.fa-clock &nbsp;2日前
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "logo-image.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 事務局から個別メッセージ「Facebookログイン通知」
          %p.myp-days.far.fa-clock &nbsp;3日前
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "logo-image.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 《1万名にP3,000》売っても買ってもおトクな新生活応援キャンペーン実施中！
          %p.myp-days.far.fa-clock &nbsp;8日前
        %i.fas.fa-chevron-right
      .myp-main__body
        .myp-main__btn 一覧を見る

      .myp-main__top2 購入した商品
      .myp-main__title
        .myp-main__title--right 取引中
        .myp-main__title--left 過去の取引
      .myp-main__body
        = image_tag "yuuki.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 「嫌われる勇気 : 自己啓発の源流「アドラー」の教え」 を購入しました。 取引が完了しました
          %p.myp-done 取引完了
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "vision.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 「ザ・ビジョン 進むべき道は見えているか」 を購入しました。 取引が完了しました
          %p.myp-done 取引完了
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "daigo.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 「進化する勉強法 漢字学習から算数、英語、プログラミングまで」 を購入しました。 取引が完了しました
          %p.myp-done 取引完了
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "hattari.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 「ハッタリの流儀」 を購入しました。 取引が完了しました
          %p.myp-done 取引完了
        %i.fas.fa-chevron-right
      .myp-main__body
        = image_tag "sindan.jpg", class: "myp-main__body--left"
        .myp-main__body--center
          %p 「みんなが欲しかった!中小企業診断士はじめの一歩 2018年度版」 を購入しました。 取引が完了しました
          %p.myp-done 取引完了
        %i.fas.fa-chevron-right
      .myp-main__body
        .myp-main__btn 一覧を見る
= render 'shared/footer'
