-# ヘッダー
= render 'shared/header'

-# 商品出品
= render 'shared/exhibit-btn'
-# ヘッダー下のパンくず
.myp-header
  .myp-header__container
    = link_to "フリマ", root_path
    %i.fas.fa-chevron-right
    = link_to "マイページ", user_path(current_user.id)
    %i.fas.fa-chevron-right
    %p 支払い方法
.card
  .card__container
    -# マイページのサイドバー
    = render 'shared/user_side-bar'

    -# 支払い方法
    .card__main
      %h1 支払い方法
      .card__main__container
        %h2 クレジットカード一覧
        -# クレジットカードが登録されている時に表示
        - if @card.present?
          .container
            .creditcard-info
              .creditcard-info__left
                = image_tag "creditcards/#{@card_image}",width:'50',height:'20', alt:'master-card'
                %p.creditcard-info__number
                  = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
                %p.creditcard-info__period 
                = @exp_month + " / " + @exp_year
              .creditcard-info__right
                = button_to "削除する", "/users/:user_id/creditcards/:id", method: :delete, class:"creditcard-info__delete"
        - else # クレジットカードの登録がない時に表示
          .card__main__btn
            = link_to "クレジットカードを追加する", new_user_creditcard_path(current_user.id)
            %i.fas.fa-credit-card
          .card__main__about
            = link_to "支払い方法について", "#"
            %i.fas.fa-chevron-right