/-- footer上部 --/
.top-guidance
  .top-guidance__title
    %h2
      だれでもかんたん、人生を変えるフリマアプリ
  .top-guidance__download
    %p
      今すぐ無料ダウンロード！
  .top-icon
    /-- App Storeのロゴ --/
    = link_to image_tag ("app-store-a5c17948c6fd6d5b60b13d421cd60b35.png"), class: "apple"
    /-- Google Playのロゴ --/
    = link_to  image_tag ("google-play-495575abb895b405aa6336b2a4304958.png"), class: "google"

%footer
  /-- footerのリンク --/
  %ul.top-contents
    %li.top-content
      %h2.top-content__head
        FURIMAについて
      /-- aタグをホバー中、下線部が表示されないバグが残ってる --/
      %ul.top-underline
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    %li.top-content
      %h2.top-content__head
        FURIMAを見る
      %ul.top-underline
        %li
          = link_to "カテゴリー一覧", "#"
        %li
          = link_to "ブランド一覧", "#"
    %li.top-content
      %h2.top-content__head
        ヘルプ＆ガイド
      %ul.top-underline
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  /-- FURIMAのロゴ --/
  .top-logo
    =link_to root_path do
      = image_tag "logo-white.png", size: "140x50"
    %p © FURIMAaaaaaaaaa