= render 'shared/product_header'
.login-body
  .login-signup
    .login-signup__text アカウントをお持ちでない方はこちら
    = link_to "新規会員登録", "/users", class: "login-signup__btn"
  .login-main
    .login-main__facebook
      %i.fab.fa-facebook-square
      %p Facebookでログイン
    .login-main__google
      = image_tag "google_logo.png"
      %p Googleでログイン
  .login-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field-input
          = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "login-form__email"
        .field
          .field-label
            = f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "login-form__password"
        .actions
          = f.submit "ログイン", class: 'login-form__btn'
    %p パスワードをお忘れの方
= render 'shared/product_footer'