= render 'shared/header'
.top-exhibit
  .top-exhibit__text 出品する
  = image_tag "icon_camera.png"
.myp-header
  .myp-header__container
    = link_to "フリマ", root_path
    %i.fas.fa-chevron-right
    = link_to "マイページ", user_path(1)
    %i.fas.fa-chevron-right
    %p 支払い方法
.card
  .card__container
    = render 'shared/user_side-bar'
    .card__main
      %h1 支払い方法
      .card__main__container
        %h2 クレジットカード一覧
        .card__main__btn
          = link_to "クレジットカードを追加する", new_card_path
          %i.fas.fa-credit-card
        .card__main__about
          = link_to "支払い方法について", "#"
          %i.fas.fa-chevron-right