= render 'shared/header'
.myp-header
  %ul.myp-header__container
    %li
      = link_to root_path do
        FURIMA
      %i.fas.fa-chevron-right
    %li
      = link_to categories_path do
        = link_to categories_path do
          カテゴリー一覧


= render 'shared/footer'