= render 'shared/header'

= render 'shared/exhibit-btn'

.top-main
  .top-main__view
    .top-main__view__container
      .top-main__view__title 人生を変えるフリマアプリ
      .top-main__view__text FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
      -# アップルストアボタン
      = link_to "https://apps.apple.com/jp/app/%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA-%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA-%E3%82%B9%E3%83%9E%E3%83%9B%E6%B1%BA%E6%B8%88%E3%83%A1%E3%83%AB%E3%83%9A%E3%82%A4/id667861049" do
        = image_tag "apple.png", class: "company-btn"
        %span<>
      -# グーグルボタン
      = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari" do
        = image_tag "google.png", class: "company-btn google"
.top-title
  .top-title__text FURIMAが選ばれる3つの理由
  .top-title__images
    .top-title__images--left.reason
      %span.span 1
      = image_tag "pict-reason-01.jpg", class: "reason-size"
      %h1 
        %span> 3分
        &nbsp;ですぐに出品
      %p スマホで入力するだけで簡単に出品できる！
    .top-title__images--center.reason
      %span.span 2
      = image_tag "pict-reason-02.jpg", class: "reason-size"
      %h1 
        %span> シンプル 
        &nbsp;で使いやすい
      %P めんどくさい入力は必要なく、検索も購入もスムーズ！
    .top-title__images--right.reason
      %span.span 3
      = image_tag "pict-reason-03.jpg", class: "reason-size"
      %h1
        %span> 手数料 
        &nbsp;業界最安
      %P 最大3%でお得に出品&購入！
.member
  .member__container
    %h1 会員数日本一位
    %p FURIMAは、フリマアプリで最も人気。<br>出品・購入回数も業界最多です！<br>ほしかったあの商品に出会えるかもしれません。
    = link_to "https://apps.apple.com/jp/app/%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA-%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA-%E3%82%B9%E3%83%9E%E3%83%9B%E6%B1%BA%E6%B8%88%E3%83%A1%E3%83%AB%E3%83%9A%E3%82%A4/id667861049" do
      = image_tag "apple.png", class: "company-btn"
      %span<>
    = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari" do
      = image_tag "google.png", class: "company-btn google"
.top-char
  .top-char__container
    %h1 FURIMAの特徴
    .top-illust
      .top-illust--left.illust-padding
        = image_tag "icon-01.png", class: "illust-size"
        %h2 簡単に売り買いできる
        %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .top-illust--center.illust-padding
        = image_tag "icon-03.png", class: "illust-size"
        %h2 売上金は即日振込みに対応
        %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .top-illust--right.illust-padding
        = image_tag "icon-04.png", class: "illust-size"
        %h2 様々な支払いに対応
        %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.top-picup
  .top-picup__container
    %h1 ピックアップカテゴリー
    %h2 新規投稿商品
    .top-picup__item
      - @products.each do |product|
        =link_to product_path(product) do
          .picup-size
            .product-box
              - product.images.first(1).each do |i|
                = image_tag i.image.url
              .top-product__message
                %ul
                  %li 
                    = product.name
                  %li.top-flex
                    .top-flex--left
                      %p 
                        = product.price
                      %p 円
                    .top-flex--right 
                %p (税込)

  .top-picup__container
    %h1.top-picup__space ピックアップブランド
    %h2 メンズ
    .top-picup__item
      - @mens_samle.each do |product|
        = link_to product_path(product) do
          .top-picup__item--left.picup-size
            .product-box
              - product.images.first(1).each do |i|
                = image_tag i.image.url
              .top-product__message
                %ul
                  %li 
                    = product.name
                  %li.top-flex
                    .top-flex--left
                      %p 
                        = product.price
                      %p 円
                    .top-flex--right 
                %p (税込)

    .top-picup__container
      %h1.top-picup__space ピックアップブランド
      %h2 レディース
      .top-picup__item
        - @ledies_samle.each do |product|
          = link_to product_path(product) do
            .top-picup__item--left.picup-size
              .product-box
                - product.images.first(1).each do |i|
                  = image_tag i.image.url
                .top-product__message
                  %ul
                    %li 
                      = product.name
                    %li.top-flex
                      .top-flex--left
                        %p 
                          = product.price
                        %p 円
                      .top-flex--right 
                  %p (税込)
= render 'shared/footer'