
= render 'shared/product_header'

.exhibit-boby
  .exhibit-boby--container
    = form_with model: @product, class:"form-box", local: true do |f| 
      .exhibit-boby--container__image
        .exhibit-flame
          .exhibit-label
            %p 出品画像
            %p.need 必須
          %p 最大10枚までアップロードできます
          = f.fields_for :images do |i|
            #image-box-1
              %label#image-box__container.item-num-0
                = i.file_field :image, multiple: true, class: "exhibit-image__area", type: 'file', name: "images[image][]", value:"",  id:"img-file"
                %i.fa.fa-camera
                %p ドラッグアンドドロップ<br>もしくはクリックしてアップロード
      .exhibit-boby--container__name
        .exhibit-flame
          .exhibit-label
            %p 商品名
            %p.need 必須
          = f.text_field :name, placeholder: '40文字まで'
          .exhibit-label
            %p 商品の説明
            %p.need 必須
          = f.text_area :description, class: "exhibit-text", placeholder: '商品の説明（必須1000文字以内)&#13;&#10;(色、素材、重さ、定価、注意点など)&#13;&#10; &#13;&#10;例)2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでオススメです♡'.html_safe
          %h5 0/1000
      .exhibit-boby--container__detail
        .exhibit-flame
          %h3.exhibit_h3 商品の詳細
          .exhibit-label
            .exhibit-detail-category
              .exhibit-detail-category-name
                = f.label 'カテゴリー', class: 'exhibit-default-label'
                %span.need 必須
              .exhibit-select-wrapper
                .exhibit-select-wrapper__box
                  = f.select :category, @category_parent_array, {}, {class: 'exhibit-category-select', id: 'parent_category'}
                  
          .exhibit-label
            %p ブランド
            %p.any 任意
          = f.text_field :brand, placeholder: '例）シャネル'
          .exhibit-label
            %p 商品の状態
            %p.need 必須
          = f.select :status, [["選択してください",""],["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]]
      .exhibit-boby--container__delivery
        .exhibit-flame
          %h3.exhibit_h3 配送について
          .exhibit-label
            %p 配送料の負担
            %p.need 必須
          = f.collection_select :postage_bearer, Shipping.all, :id, :name, prompt: "選択してください"
          .exhibit-label
            %p 発送元の地域
            %p.need 必須
          = f.collection_select :shipping_area, Prefecture.all, :id, :name, prompt: "選択してください"
          .exhibit-label
            %p 発送までの日数
            %p.need 必須
          = f.collection_select :shipping_day, Day.all, :id, :name, prompt: "選択してください"
      .exhibit-boby--container__price
        .exhibit-flame
          %h3.exhibit_h3 販売価格（300~9,999,999）
          .exhibit-price
            .exhibit-price__flame
              .exhibit-price__flame--label
                %p 販売価格
                %p.need 必須
              %p ¥
            = f.text_field :price, placeholder: '0', id: "exhibit-price",onkeyup:"ShowPrice(value);", style: "text-align: right;"
          .exhibit-commission
            %p 販売手数料（10%）
            %p#tax-price ー
          .exhibit-profit
            %p  販売利益
            %p#profit-price ー
          .exhibit-hidden
            = f.hidden_field :condition, value: 1
          .exhibit-btn
            = f.submit "出品する",class:"exhibit-submit"
            = f.submit "下書きに保存",class:"exhibit-draft"
            = link_to "もどる", root_path,class: ""
          %p
            禁止されている出品、
            %a{href:"#"}>行為
            および
            %a{href:"#"}>出品物
            を必ずご確認ください。
            %a{href:"#"}>偽ブランド品
            や
            %a{href:"#"}>盗難品
            などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
            %a{href:"#"}>加盟店規約
            に同意したことになります。

= render 'shared/product_footer'
