
.exhibit-header
  = image_tag "logo.png", class: "exhibit-header--logo",size: "180x50"

.exhibit-boby
  .exhibit-boby--container
    = form_for '' do |f|
      .exhibit-boby--container__image
        .exhibit-flame
          .exhibit-label
            %p 出品画像
            %p.need 必須
          %p 最大10枚までアップロードできます
          = f.label :image, class:"exhibit-image" do
            = f.file_field :image, class: "exhibit-image__area"
            %i.fa.fa-camera
            %p ドラッグアンドドロップ<br>もしくはクリックしてアップロード
      .exhibit-boby--container__name
        .exhibit-flame
          .exhibit-label
            %p 商品名
            %p.need 必須
          = f.text_field :name, placeholder: '40文字まで'
          .exhibit-label
            %p 商品の説明
            %p.need 必須
          = f.text_area :text, class: "exhibit-text", placeholder: '商品の説明（必須1000文字以内)&#13;&#10;(色、素材、重さ、定価、注意点など)&#13;&#10; &#13;&#10;例)2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでオススメです♡'.html_safe
          %h5 0/1000
      .exhibit-boby--container__detail
        .exhibit-flame
          %h3 商品の詳細
          .exhibit-label
            %p カテゴリー
            %p.need 必須
          = f.select :category, [["選択してください",""],["レディース","レディース"],["メンズ","メンズ"],["ベビー・キッズ","ベビー・キッズ"],["インテリア・住まい・小物","インテリア・住まい・小物"],["本・音楽・ゲーム","本・音楽・ゲーム"],["おもちゃ・ホビー・グッズ","おもちゃ・ホビー・グッズ"],["コスメ・香水・美容","コスメ・香水・美容"],["スポーツ・レジャー","スポーツ・レジャー"],["ハンドメイド","ハンドメイド"],["チケット","チケット"],["自動車・オートバイ","自動車・オートバイ"],["その他","その他"]]
          .exhibit-label
            %p ブランド
            %p.any 任意
          = f.text_field :brand, placeholder: '例）シャネル'
          .exhibit-label
            %p 商品の状態
            %p.need 必須
          = f.select :status, [["選択してください",""],["レディース","レディース"],["メンズ","メンズ"],["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]]
      .exhibit-boby--container__delivery
        .exhibit-flame
          %h3 配送について
          .exhibit-label
            %p 配送料の負担
            %p.need 必須
          = f.select :status, [["選択してください",""],["送料込み（出品者負担）","送料込み（出品者負担）"],["着払い（購入者負担）","着払い（購入者負担）"]]
          .exhibit-label
            %p 発送元の地域
            %p.need 必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--"
          -# %select{name: "shipping_area"}
          -#   %option{value: ""} 選択してください
          -#   %option{value: "北海道"}北海道
          -#   %option{value: "青森県"}青森県
          -#   %option{value: "岩手県"}岩手県
          -#   %option{value: "宮城県"}宮城県
          -#   %option{value: "秋田県"}秋田県
          -#   %option{value: "山形県"}山形県
          -#   %option{value: "福島県"}福島県
          -#   %option{value: "茨城県"}茨城県
          -#   %option{value: "栃木県"}栃木県
          -#   %option{value: "群馬県"}群馬県
          -#   %option{value: "埼玉県"}埼玉県
          -#   %option{value: "千葉県"}千葉県
          -#   %option{value: "東京都"}東京都
          -#   %option{value: "神奈川県"}神奈川県
          -#   %option{value: "新潟県"}新潟県
          -#   %option{value: "富山県"}富山県
          -#   %option{value: "石川県"}石川県
          -#   %option{value: "福井県"}福井県
          -#   %option{value: "山梨県"}山梨県
          -#   %option{value: "長野県"}長野県
          -#   %option{value: "岐阜県"}岐阜県
          -#   %option{value: "静岡県"}静岡県
          -#   %option{value: "愛知県"}愛知県
          -#   %option{value: "三重県"}三重県
          -#   %option{value: "滋賀県"}滋賀県
          -#   %option{value: "京都府"}京都府
          -#   %option{value: "大阪府"}大阪府
          -#   %option{value: "兵庫県"}兵庫県
          -#   %option{value: "奈良県"}奈良県
          -#   %option{value: "和歌山県"}和歌山県
          -#   %option{value: "鳥取県"}鳥取県
          -#   %option{value: "島根県"}島根県
          -#   %option{value: "岡山県"}岡山県
          -#   %option{value: "広島県"}広島県
          -#   %option{value: "山口県"}山口県
          -#   %option{value: "徳島県"}徳島県
          -#   %option{value: "香川県"}香川県
          -#   %option{value: "愛媛県"}愛媛県
          -#   %option{value: "高知県"}高知県
          -#   %option{value: "福岡県"}福岡県
          -#   %option{value: "佐賀県"}佐賀県
          -#   %option{value: "長崎県"}長崎県
          -#   %option{value: "熊本県"}熊本県
          -#   %option{value: "大分県"}大分県
          -#   %option{value: "宮崎県"}宮崎県
          -#   %option{value: "鹿児島県"}鹿児島県
          -#   %option{value: "沖縄県"}沖縄県
          .exhibit-label
            %p 発送までの日数
            %p.need 必須
          = f.select :shipping_day, [["選択してください",""],["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"],["4~7日で発送","4~7日で発送"]]
      .exhibit-boby--container__price
        .exhibit-flame
          %h3 販売価格（300~9,999,999）
          .exhibit-price
            .exhibit-price__flame
              .exhibit-price__flame--label
                %p 販売価格
                %p.need 必須
              %p ¥
            = f.text_field :price, placeholder: '0',style: "text-align: right;"
          .exhibit-commission
            %p 販売手数料（10%）
            %p ー
          .exhibit-profit
            %p  販売利益
            %p ー
          .exhibit-btn
            = f.submit "出品する",class:"exhibit-submit"
            = f.submit "下書きに保存",class:"exhibit-draft"
            = link_to "もどる", "#",class: ""
          %p
            禁止されている出品、
            %a{href:"#"}>行為
            および
            %a{href:"#"}>出品物
            を必ずご確認ください。
            %a{href:"#"}>偽ブランド品
            や
            %a{href:"#"}>盗難品
            などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
            %a{href:"#"}>加盟店規約
            に同意したことになります。

.exhibit-footer
  .exhibit-footer--container
    .exhibit-footer--container__menu
      = link_to "プライバシーポリシー", "#"
      = link_to "FURIMA利用規約", "#"
      = link_to "特定商取引に関する表記", "#"
    .exhibit-footer--container__logo
      =link_to root_path do
        = image_tag "logo.png", size: "120x30"
      %p © FURIMA