= render 'shared/header'
-# logout.html.hamlと同じclass
.myp-header
  %ul.myp-header__container
    %li
      = link_to root_path do
        FURIMA
      %i.fas.fa-chevron-right
    %li
      = @product.category.root.name
      %i.fas.fa-chevron-right
    %li
      = @product.category.parent.name
      %i.fas.fa-chevron-right
    %li
      = @product.category.name
      %i.fas.fa-chevron-right
    %li
      = @product.name
      
.product-show
  .product-show-main
    .product-show-box
      .product-show-items
        %h2.puroduct-name
          = @product.name
        .product-show-item-lists
          %ul.product-show-item-lists__img
            %li.product-show-item-lists__img--main{ id: "main" }
              = image_tag @image_1.image.url, class: "main-size"
              %ul.product-show-item-lists__sub
                - @image.each do |image|
                  %li.product-show-item-lists__sub--img{ id: "first" }
                    = image_tag image.image.url, class: "sub-size"
      .product-show-price
        %span.product-show-price__span1
          ¥
          = @product.price
        .product-show-price__tax
          %span.product-show-span2
            (税込) 
            %span.product-show-span3
              送料込み
      .product-show-text
        = @product.description
      .product-show-status
        %table.show-teable
          %tr.show-teable__tr
            %th.show-teable__th 出品者
            %td.show-teable__td
              = @product.user.nickname
          %tr.show-teable__tr
            %th.show-teable__th カテゴリー
            %td.show-teable__td 
              %p
                = @product.category.root.name
                %br
                = @product.category.parent.name
                %br
                = @product.category.name
          %tr.show-teable__tr
            %th.show-teable__th ブランド
            %td.show-teable__td
              = @product.brand
          %tr.show-teable__tr
            %th.show-teable__th 商品のサイズ
            %td.show-teable__td 
              = @product.size
          %tr.show-teable__tr
            %th.show-teable__th 商品の状態
            %td.show-teable__td
              = @product.status
          %tr.show-teable__tr
            %th.show-teable__th 配送料の負担	
            %td.show-teable__td 
              = @product.postage_bearer
          %tr.show-teable__tr
            %th.show-teable__th 発送元の地域
            %td.show-teable__td
              = @product.shipping_area
          %tr.show-teable__tr
            %th.show-teable__th 発送日の目安
            %td.show-teable__td
              = @product.shipping_day
      .product-show-btns
        .product-show-btns__like
          %i.fas.fa-star
          %p お気に入り0
        .product-show-btns__report
          %i.fas.fa-flag
          %p 不適切な商品の情報
      - if user_signed_in?
        - if @product.user_id == current_user.id
          .product-show-link
            .product-show-link__edit
              = link_to edit_product_path(@product) do
                編集
            .product-show-link__destroy
              = link_to product_path(@product), method: :delete do
                削除
        - else
          .product-show-link
            .product-show-link__btn
              = link_to "" do
                購入する
    
    .product-comments-box
      .product-comments
      -# コメントがあれば表示
    .product-comment-form
      %form.product-comment-form__new
        %input{type: "textarea", class: "product-comment-form__new--text"}
        %p.product-comment-form__new--report
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{type: "submit", class:"product-comment-form__new--btn fas fa-star", value: "コメントする"}
        
    .product-after-before
      .product-after-before__before
        ＜前の商品
      .product-after-before__after
        次の商品＞
    .product-show-category
      ベビー商品をもっとみる


    

  = render 'shared/footer'